#github {
  background-color: #d4d5df;

  .github-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    img {
      max-width: 100%;
      border-radius: 8px;

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
